<!doctype html>
<html lang='en'>
<head>
	<meta charset='utf-8'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<title>weather</title>
	<link rel='stylesheet' href='main.css'>
	<script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js'></script>
</head>
<body>


	<section class='container'>
		<div id='forecast_container'>
			<div id='placeholder'>
				<h3>Hold up while I fetch your weather</h3>
				<img src='images/loading.gif' />
			</div>
		</div>
	</section>



	<!-- Underscore Templates -->
	<script type='text/template' id='weather_template'>
		<div class='weather_main'>

			<div class='weather_basic'>
				<div class="weather_condition"><%= attributes.day.condition.text %></div>
				<div class="weather_temp_max"><%= Math.round(attributes.day.maxtemp_f) %></div>
				<div class="weather_temp_min"><%= Math.round(attributes.day.mintemp_f) %></div>
			</div>
		</div>
		<div class='weather_extra'>
			<div class="weather_humidity">Humidity: <%= attributes.humidity %>%</div>
			<div class="weather_pressure">Pressure: <%= attributes.pressure %></div>
			<div class="weather_wind_speed">Wind Speed: <%= attributes.day.maxwind_mph %> mph</div>
			<div class="weather_rain">Rain: <%= attributes.day.totalprecip_mm %> mm</div>
		</div>
	</script>

	<script type='text/template' id='forecast_template'>
		<div id="weather_city"><h3><%= city %> for the next 10 days:</h3></div>
		<div id='controls'>
			<span id='hide_all'>-</span>
			<span id='show_all'>+</span>
		</div>
	</script>
	<script src='main.js'></script>	

</body>
</html>
